/* Root Variables */
:root {
    --amazon-title: #FEBD69;
    --amazon-orange: #FF9900;
    --ebay-title: #4c9aec;
    --ebay-red: #E53238;
    --ebay-blue: #0064D2;
    --ebay-yellow: #F5AF02;
    --ebay-green: #86B817;
}

/* Jumbotron */
.jumbotron, .jumbotron-fluid {
    padding-bottom: 1rem;
}

/* Title */
.display-4 {
    text-align: center;
    font-weight: 600;
}

/* Subtitle */
#subtitle {
    text-align: center;
    padding-bottom: 5px;
    color: #555652;
}

/* Logo Colors  */
#eRed {
    color: var(--ebay-red);
}

#eBlue {
    color: var(--ebay-blue);
}

#eYellow {
    color: var(--ebay-yellow);
}

#eGreen {
    color: var(--ebay-green);
}

/* Search Container */
.lead {
    text-align: center;
}

/* Search Input */
#userInput {
    text-align: center;
    border-radius: 5px;
}

/* Search Button */
#searchBtn {
    border-radius: 5px;
    background-color: black;
    color: white;
}

#searchBtn:hover {
    opacity: 0.75;
}

/* Search History */
#history {
    text-align: center; 
    margin-top: 2rem;
}

.history-btn {
    background-color: var(--ebay-title);
    color: white;
    border-radius: 5px;
}

/* Card Deck */
.card-deck {
    width: 50%;
}

/* Card Title */
.card-title {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Card Text */
.card-text {
    text-align: left;
}

.text-muted {
    color: white !important;
}

.card-body {
    text-align: center;
}

/* Amazon Title */
.amazon-title {
    background-color: var(--amazon-title);
}

/* eBay Title */
.ebay-title {
    background-color: var(--ebay-title);
}

/* Buy on Amazon Button */
.amazonBtn {
    border-radius: 5px;
    background-color: var(--amazon-title);
}

/* Buy on eBay Button */
.ebayBtn {
    border-radius: 5px;
    background-color: var(--ebay-title);
    color: white;
}

/* Buttons Hover */
button:hover {
     opacity: 0.8;
}

/* Spinner */
.spinner-border {
    display: none;
    margin: auto;
}