/* Title */
.display-4 {
    text-align: center;
    padding-bottom: 15px;
}

/* Search */
.lead {
    text-align: center;
}

/* Card Deck */
.card-deck {
    width: 50%;
}

/* Card Title */
.card-title {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-muted {
    color: white !important;
}

/* Amazon Title */
.amazon-title {
    background-color: #FEBD69;
}

/* eBay Title */
.ebay-title {
    background-color: #4c9aec;
}