:root {
    --amazon-title: #FEBD69;
    --amazon-orange: #FF9900;
    --ebay-title: #4c9aec;
    --ebay-red: #E53238;
    --ebay-blue: #0064D2;
    --ebay-yellow: #F5AF02;
    --ebay-green: #86B817;
}

/* Title */
.display-4 {
    text-align: center;
    font-weight: 600;
}

/* Subtitle */
#subtitle {
    text-align: center;
    padding-bottom: 5px;
    color: #555652;
}

#eRed {
    color: var(--ebay-red);
}

#eBlue {
    color: var(--ebay-blue);
}

#eYellow {
    color: var(--ebay-yellow);
}

#eGreen {
    color: var(--ebay-green);
}

/* Search */
.lead {
    text-align: center;
}

/* Search Input */
#userInput {
    text-align: center;
    border-radius: 5px;
}

/* Search Button */
#searchBtn {
    border-radius: 5px;
    background-color: black;
    color: white;
}

#searchBtn:hover {
    opacity: 0.75;
}

/* Card Deck */
.card-deck {
    width: 50%;
}

/* Card Title */
.card-title {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-muted {
    color: white !important;
}

/* Amazon Title */
.amazon-title {
    background-color: var(--amazon-title);
}

/* eBay Title */
.ebay-title {
    background-color: var(--ebay-title);
}

.amazonBtn {
    border-radius: 5px;
    background-color: var(--amazon-title);
}

.ebayBtn {
    border-radius: 5px;
    background-color: var(--ebay-title);
    color: white;
}